{{template "header.html"}}

<div class="container">
    <h1>Contacto {{.contact.Name}}</h1>

    <div class="row">
        <div class="col">
            Nombre
        </div>
        <div class="col">
            Telefono
        </div>
        <div class="col">
            Correo
        </div>
    </div>

    <div class="row">
        <div class="col">
            {{.contact.Name}}
        </div>

        <div class="col">
            {{.contact.PhoneNumber}}
        </div>
        <div class="col">
            {{.contact.EMail}}
        </div>
    </div>
    <a href="javascript: history.go(-1)">Volver atrás</a>
</div>

{{template "footer.html"}}