{{template "header.html"}}
<div class="container">

    <form method="post" action="/contact/delete"> 
        <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Nombre Contacto" value="{{.Name}}" readonly>
        </div>
        <input type="submit" class="btn btn-primary" value="Si">
        <input type="buttom" class="btn btn-primary" onclick="location.href=`/`;" value="No">
      </form>
</div>

{{template "footer.html"}}