{{template "header.html"}}

<div class="container">
    <h1>Directorio Telefonico</h1>
    <div class="row border border-success">
        <div class="col">
            Nombre
        </div>
        <div class="col">
            Telefono
        </div>
        <div class="col">
            Correo
        </div>
        <div class="col">
            <input type="button" class="btn btn-secundary" onclick="window.location.href='/contact/create';" value="New" />
        </div>
    </div>
    {{range .contacts}}
    <div class="row border" >
        <div class="col">
            {{.Name}}
        </div>
        <div class="col">
            {{.PhoneNumber}}
        </div>
        <div class="col">
            {{.EMail}}
        </div>
        <div class="col">
            <input type="button"class="btn btn-primary" onclick="window.location.href='/contact?name={{.Name}}';" value="View" />
        </div>
    </div>
    {{end}}
</div>
{{template "footer.html"}}